/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

body {
    background-image: url(images/TINA.gif);
}
.changing {
	content:url(images/kitten-small.png);
}
.win{
	inline: center;
}
.win:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}
@media screen and (min-width: 465px){
	.changing {
		content:url(images/kitten-medium.png);
	}
}
@media screen and (min-width: 675px){
	.changing {
		content:url(images/kitten-large.png);
	}
}
.kittyloaf {
		display:none ;
		content:url(images/kittyloaf.gif);
	}
@media screen and (max-width: 465px){
	.kittyloaf {
		display: block
	}
}
