/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

body {
    background-image: url(images/TINA.gif);
}
.changing {
	content:url(images/kitten-small.png);
}

@media screen and (min-width: 465px){
	.changing {
		content:url(images/kitten-medium.png);
	}
}
@media screen and (min-width: 675px){
	.changing {
		content:url(images/kitten-large.png);
	}
}
.kittyloaf {
		display:none ;
		content:url(images/kittyloaf.gif);
	}
@media screen and (max-width: 465px){
	.kittyloaf {
		display: block
	}
}
